name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 19 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
    steps:
    - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: actions/checkout@v5
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v "all scalafmtSbtCheck scalafmtCheckAll" "+test"
      shell: bash
