name: ci
on:
  push:
  pull_request:
  schedule:
  - cron: '0 19 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
    steps:
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v "all scalafmtSbtCheck scalafmtCheckAll" "+test"
      shell: bash
