name: scala-steward
on:
  push:
    branches: [ master ]
  schedule:
  - cron: '0 21 * * *'
  workflow_dispatch:
jobs:
  scala-steward:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: ${{ github.repository_owner == 'scalaz' }}
    steps:
    - name: Generate token
      id: generate_token
      uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
      with:
        app_id: 89659
        private_key: ${{ secrets.SCALAZ_BOT_KEY }}
    - uses: sbt/setup-sbt@v1
    - name: Launch Scala Steward
      uses: scala-steward-org/scala-steward-action@f60ccd18bc9d8083e6809d9dc3db4a69a71d856c # v2.78.0
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
        author-email: "74843977+scalaz-bot[bot]@users.noreply.github.com"
        author-name: "scalaz-bot[bot]"
